/bloxsys/target/
/bloxsys-web/target/
/bloxsys-api/target/
/bloxsys-ear/target/
/bloxsys-ejb/target/
*.idea
*.iml
gradlew
gradlew.bat
/build/
/bloxsys-web/build/
/bloxsys-api/build/
/bloxsys-ear/build/
/bloxsys-ejb/build/
.gradle/
gradle/
